doctype html
html
	head
		include includes/_head.jade
		title Giriş Yap - EAE Farm

	body
		section.material-half-bg
			.cover

		section.login-content
			.logo: h1 EAE Farm

			.login-box
				form.login-form(action="/",method="post")
					h3.login-head
						i.fa.fa-lg.fa-fw.fa-user
						| Giriş Yap
					.form-group
						label.control-label Kullanıcı Adı
						input.form-control(type="text", placeholder="Kullanıcı Adı", autofocus,required="",name="userName")

					.form-group
						label.control-label Şifre
						input.form-control(type="password", placeholder="Şifre",required="",name="password")

					.form-group.btn-container
						button.btn.btn-primary.btn-block
							i.fa.fa-sign-in-alt.fa-lg.fa-fw
							| Giriş Yap

					.form-group
						a.btn.btn-success(href="#" data-toggle="flip",style="margin: 10px auto;display: block;") Kayıt Ol!

				form.forget-form(action="register",method="post")
					h3.login-head Kayıt Ol
					.form-group
						label.control-label Ad
						input.form-control(type="text", placeholder="Ad",required="",name="ad")

					.form-group
						label.control-label Soyad
						input.form-control(type="text", placeholder="Soyad",required="",name="soyad")

					.form-group
						label.control-label Yaş
						input.form-control(type="number", placeholder="Yaş",required="",name="yas")
					
					.form-group
						label.control-label Şehir
						select.form-control(required="",name="sehir")
							option(value='Adana') Adana
							option(value='Adıyaman') Adıyaman
							option(value='Afyonkarahisar') Afyonkarahisar
							option(value='Ağrı') Ağrı
							option(value='Amasya') Amasya
							option(value='Ankara') Ankara
							option(value='Antalya') Antalya
							option(value='Artvin') Artvin
							option(value='Aydın') Aydın
							option(value='Balıkesir') Balıkesir
							option(value='Bilecik') Bilecik
							option(value='Bingöl') Bingöl
							option(value='Bitlis') Bitlis
							option(value='Bolu') Bolu
							option(value='Burdur') Burdur
							option(value='Bursa') Bursa
							option(value='Çanakkale') Çanakkale
							option(value='Çankırı') Çankırı
							option(value='Çorum') Çorum
							option(value='Denizli') Denizli
							option(value='Diyarbakır') Diyarbakır
							option(value='Edirne') Edirne
							option(value='Elazığ') Elazığ
							option(value='Erzincan') Erzincan
							option(value='Erzurum') Erzurum
							option(value='Eskişehir') Eskişehir
							option(value='Gaziantep') Gaziantep
							option(value='Giresun') Giresun
							option(value='Gümüşhane') Gümüşhane
							option(value='Hakkâri') Hakkâri
							option(value='Hatay') Hatay
							option(value='Isparta') Isparta
							option(value='Mersin') Mersin
							option(value='İstanbul') İstanbul
							option(value='İzmir') İzmir
							option(value='Kars') Kars
							option(value='Kastamonu') Kastamonu
							option(value='Kayseri') Kayseri
							option(value='Kırklareli') Kırklareli
							option(value='Kırşehir') Kırşehir
							option(value='Kocaeli') Kocaeli
							option(value='Konya') Konya
							option(value='Kütahya') Kütahya
							option(value='Malatya') Malatya
							option(value='Manisa') Manisa
							option(value='Kahramanmaraş') Kahramanmaraş
							option(value='Mardin') Mardin
							option(value='Muğla') Muğla
							option(value='Muş') Muş
							option(value='Nevşehir') Nevşehir
							option(value='Niğde') Niğde
							option(value='Ordu') Ordu
							option(value='Rize') Rize
							option(value='Sakarya') Sakarya
							option(value='Samsun') Samsun
							option(value='Siirt') Siirt
							option(value='Sinop') Sinop
							option(value='Sivas') Sivas
							option(value='Tekirdağ') Tekirdağ
							option(value='Tokat') Tokat
							option(value='Trabzon') Trabzon
							option(value='Tunceli') Tunceli
							option(value='Şanlıurfa') Şanlıurfa
							option(value='Uşak') Uşak
							option(value='Van') Van
							option(value='Yozgat') Yozgat
							option(value='Zonguldak') Zonguldak
							option(value='Aksaray') Aksaray
							option(value='Bayburt') Bayburt
							option(value='Karaman') Karaman
							option(value='Kırıkkale') Kırıkkale
							option(value='Batman') Batman
							option(value='Şırnak') Şırnak
							option(value='Bartın') Bartın
							option(value='Ardahan') Ardahan
							option(value='Iğdır') Iğdır
							option(value='Yalova') Yalova
							option(value='Karabük') Karabük
							option(value='Kilis') Kilis
							option(value='Osmaniye') Osmaniye
							option(value='Düzce') Düzce
					
					.form-group
						label.control-label Cinsiyet
						br
						div.form-check.form-check-inline
							input.form-check-input(type="radio",value="Erkek", placeholder="Cinsiyet",name="cinsiyet",required="")
							label.form-check-label Erkek
						div.form-check.form-check-inline
							input.form-check-input(type="radio",value="Kadın", placeholder="Cinsiyet",name="cinsiyet")
							label.form-check-label Kadın

					.form-group
						label.control-label E-Posta
						input.form-control(type="email", placeholder="E-Posta",required="",name="eposta")
					
					
					.form-group
						label.control-label Kullanıcı Adı
						input.form-control(type="text", placeholder="Kullanıcı Adı",required="",name="kadi")
					
					
					.form-group
						label.control-label Şifre
						input.form-control(type="password", placeholder="Şifre",required="",name="sifre")
					

					.form-group.btn-container
						button.btn.btn-primary.btn-block
							i.fa.fa-check-circle.fa-lg.fa-fw
							| Kayıt Ol

					.form-group.mt-3
						p.semibold-text.mb-0
							a.btn.btn-success(href="#" data-toggle="flip",style="margin: 10px auto;display: block;") <i class="fa fa-angle-left fa-fw"></i> Giriş Ekranına Geri Dön

					div.clearfix
		if viewData.loginSuccess == false
			div.hatabildirimi Kullanıcı Adı veya Şifre Hatalı
		if viewData.kayitSuccess
			div.basaribildirimi Kayıt Başarı İle Gerçekleştirildi
		else if viewData.kayitSuccess == false
			div.hatabildirimi Aynı Kullanıcı Adı veya E-Posta Zaten Kayıtlı
			
		include includes/_javascript.jade

		script(type="text/javascript").
			// Login Page Flipbox control
			$('.login-content [data-toggle="flip"]').click(function() {
				$('.login-box').toggleClass('flipped');
				return false;
			});